@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

.wrapper{
	max-height:210px;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.wwrapper{
	height:213px;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

.xwwrapper{
	height:213px;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
}


.wrapper .item{
  min-width:116px;height:178px;float:left;
  background:#fff;
  border-radius:5px;
  display:table;
  box-sizing:border-box;
  padding:5px;
  margin:10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:25px;
  text-shadow:
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;
  box-shadow:0 0 10px #aaaaaa;
  text-align:center;
  position:relative;
}

.wwrapper .iitem{
  min-width:116px;height:178px;float:left;
  background:#fff;
  border-radius:5px;
  display:table;
  box-sizing:border-box;
  padding:5px;
  margin:auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:25px;
  text-shadow:
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;
  box-shadow:0 0 10px #aaaaaa;
  text-align:center;
  position:relative;
}

.xwwrapper .xiitem{
  min-width:116px;height:178px;float:left;
  background:#fff;
  border-radius:5px;
  display:table;
  box-sizing:border-box;
  padding:5px;
  margin:auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:25px;
  text-shadow:
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;
  box-shadow:0 0 10px #aaaaaa;
  text-align:center;
  position:relative;
}



.wrapper .item .inner{
  width:106px;height:163px;	
  display:table-cell;
  vertical-align:middle;
  border-radius:5px;
  overflow:hidden;
}

.wwrapper .iitem .iinner{
  width:106px;height:163px;	
  display:table-cell;
  vertical-align:middle;
  border-radius:5px;
  overflow:hidden;
}

.xwwrapper .xiitem .xiinner{
  width:106px;height:163px;	
  display:table-cell;
  vertical-align:middle;
  border-radius:5px;
  overflow:hidden;
}


.wrapper .item .mark{
  max-width:45px;height:90px;
  display:inline-block;
  vertical-align:middle;
  background:#ffffff;
  margin:auto;
  padding:0 26px;
  border-radius:90px 90px / 60px 60px;
  line-height:3.4;
}

.wwrapper .iitem .mmark{
  max-width:45px;height:90px;
  display:inline-block;
  vertical-align:middle;
  background:#ffffff;
  margin:auto;
  padding:0 26px;
  border-radius:90px 90px / 60px 60px;
  line-height:3.4;
}

.xwwrapper .xiitem .xmmark{
  max-width:45px;height:90px;
  display:inline-block;
  vertical-align:middle;
  background:#ffffff;
  margin:auto;
  padding:0 26px;
  border-radius:90px 90px / 60px 60px;
  line-height:3.5;
}

.wrapper .item.green{
  color:#18A849;
}

.wrapper .item.green .inner{
  background:#18A849;
}


.wwrapper .iitem.ggreen{
  color:#18A849;
}

.wwrapper .iitem.ggreen .iinner{
  background:#18A849;
}

.xwwrapper .xiitem.red{
  color:#C72A18;
}

.xwwrapper .xiitem.red .xiinner{
  background:#C72A18;
}

.wrapper .item:hover {
  opacity: 0.7;
}


span.frac {
  display: block;
  text-align: center;
}
span.frac > sup, span.frac > sub {
  display: block;
  font: inherit;
  padding: 0 0.3em;
}
span.frac > sup {border-bottom: 0.08em solid;}
span.frac > span {display: none;}


.popup {
background: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100%;
position: absolute;
top: 0;
display: none;
justify-content: center;
align-items: center;
}

.popup-content {
height: 288px;
width: 172px;
background: #fff;
padding: 20px;
border-radius: 5px;
position: relative;
}


.popup2 {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
z-index: 1000;
width: 400px;
text-align: center;
}

.popup2.show {
display: block;
}

button {
margin: 10px;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
background-color: #007bff;
color: white;
}
        
button:hover {
background-color: #0056b3;
}
        
.question {
margin-bottom: 20px;
}
        
.overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
z-index: 999;
}
        
.overlay.show {
display: block;
}
